<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="post">
      <table>
        <tr>
          <td>Id :</td>
          <td><input type="text" name="idNew" value="<%= idText %>"></td>
        </tr>
        <tr>
          <td>Kota :</td>
          <td><input type="text" name="kotaNew" value="<%= kotaText %>"></td>
        </tr>
          <tr>
            <td>Biaya :</td>
            <td><input type="text" name="biayaNew" value="<%= biayaText %>"></td>
          </tr>
            <tr>
              <td></td>
              <td><button type="submit">Update</button></td>
            </tr>
      </table>
    </form>
  </body>
</html>
