<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
    <p><h3>
      Thank you <%= namaText %> for shopping with us.<br>
      Your transaction id is <%= idText %><br>
      Berat barang = <%= beratText %> gram<br>
      Ongkir/kg = <%= ongkirText %><br>
      Total harga sebelum ongkir = <%= totalHargaText %><br>
      Total harga termasuk ongkir = <%= totalText %><br>
      Please transfer to one of this account :<br>
      BCA: XXX-AAAAA-BBBB (atas nama John Doe)<br>
      Mandiri: AAA-BBBBBB-CCCC (atas nama Daisy Doe)<br>
      Setelah pembayaran dilakukan, silahkan lakukan konfirmasi dengan cara telepon kami di :<br>
      0809-XXXX-99
    </h3>
    </p>
    <a href="/">Back to shopping</a>
  </body>
</html>
